/*
* @Author: Aufal Marom
* @Date:   2018-05-01 11:43:00
* @Last Modified by:   aufalmarom
* @Last Modified time: 2018-05-03 16:56:29

* Theme : Dynamic Learning;
* URI : https://github.com/aufalmarom/wp_DynamicLearning.git;
* Description : Theme for wordpress Dynamic Learning;

*/

body{
	margin: 50px auto;
	width: 80%;
}

a{
	text-decoration: none;
	color: rgb(72, 143, 217);
}

h1{
	margin-bottom: 0px;
}

h1 a{
	background-color: #e8e3e3;
	padding: 5px;
}

h2{
	margin-top: 0px;
}

li{
	list-style: none;
}

nav ul{
	padding-left: 0px;
}

nav li{
	display: inline-block;
	margin-right: 10px;
}

header nav li{
	font-size: 22px;
	border: 2px solid #333;
	padding: 3px;
	color: #333;
}

header{
	border-bottom: 3px solid #333;
}

footer{
	border-top: 3px solid #333;
}
//durung bar iki header footer le