/*
* @Author: Aufal Marom
* @Date:   2018-05-01 11:43:00
* @Last Modified by:   aufalmarom
* @Last Modified time: 2018-06-02 04:04:52

* Theme : Dynamic Learning;
* URI : https://github.com/aufalmarom/wp_DynamicLearning.git;
* Description : Theme for wordpress Dynamic Learning;

*/

body{
	margin: 50px auto;
	width: 80%;
}

a{
	text-decoration: none;
	color: rgb(72, 143, 217);
}

h1{
	margin-bottom: 0px;
}

h1 a{
	background-color: #e8e3e3;
	padding: 5px;
}

h2{
	margin-top: 0px;
}

li{
	list-style: none;
}

nav ul{
	padding-left: 0px;
}

nav li{
	display: inline-block;
	margin-right: 10px;
}

header nav li{
	font-size: 22px;
	border: 2px solid #333;
	padding: 3px;
	color: #333;
}

header{
	border-bottom: 3px solid #333;
}


.sub_judul{
	font-weight: bold;
	font-size: 20px;
}

header nav{
	float:left;
}

main, aside{
	float: left;
	margin-top: 30px;
}

main{
	width: 80%;
	margin-right: 5%;
}

aside{
	width: 20%;
}

#search_submit{
	float: right;
	margin-top: 20px;
	width: 70%;
}

img{
	max-width: 100%;
	height: auto;
}

.clear{
	clear:both;
}

#main-page{
	width: 80%;
	margin: 0 auto;
}



footer{
	border-top: 3px solid #333;
}